
  <div class="container">
      <div class="row">
    <form
      class="contact_form d-flex align-items-center"
      action="/admin/searchUser"
      method="post"
      novalidate="novalidate"
    >
      <input
        class="form-control mt-4"
        name="name"
        type="text"
        placeholder="search"
      />

      <button type="submit" class="btn btn-primary bg-warning rounded">
        search
      </button>

    </form>
  </div>
 
    <div class="row mb-5">
      <a onclick="addUser(event)" href="/admin/addUser" class="btn btn-success ml-auto">
        add user</a>

    </div>
    <div class="bg-white p-5">
 <table class="table table-hover table-striped tm-table-striped-even mt-3 mb-4" id="productsTable">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">email</th>
          <th scope="col">Phone number</th>
          <th scope="col">delete</th>
          <th scope="col">status</th>
          {{! <th scope="col">image</th> }}

        </tr>
      </thead>
      <tbody>
        {{#each userData}}
          <tr class="bg-white">
            <td>{{this.name}}</td>
            <td >{{this.email}}</td>
            <td >{{this.mobile}}</td>
            <td ><a
                class="btn btn-danger"
               
                onclick="deleteUser(event, '{{this._id}}')"
              >
                <i class="far fa-trash-alt tm-product-delete-icon"></i>
              </a></td>
              
                <td>
                  <a  onclick="blockUser(event, '{{this._id}}')" >
                    {{#if status}}
                  <i class="fas fa-toggle-on text-success"></i>
                  {{else}}
                 <a  onclick="UnBlockUser(event, '{{this._id}}')">
                  <i class="fas fa-toggle-off text-danger"></i></a>
                  {{/if}}
                
                
                </td>

          </tr>





        {{/each}}
      </tbody>
    </table>
    </div>
   




<script>
  function addUser(event) {
     event.preventDefault()
  
     swal({
       title: "Do you really want to add the User?",
       icon: "warning",
       buttons: {
         cancel: "Cancel",
         confirm: "OK"
        },
      }).then(function (confirmed) {
       
        console.log(event.target.getAttribute("href"),'kkjhjhk');
        if (confirmed) {
    
      window.location.href = "/admin/addUser"; 
    }
  });
}


 function deleteUser(event,id) {
     event.preventDefault()
  
     swal({
       title: "Do you really want to delete the User?",
       icon: "warning",
       buttons: {
         cancel: "Cancel",
         confirm: "OK"
        },
      }).then(function (confirmed) {
       
        console.log(event.target.getAttribute("href"),'kkjhjhk');
        if (confirmed) {
    
      window.location.href = "/admin/deleteUser/"+id; 
    }
  });
}


function blockUser(event,id) {
     event.preventDefault()
  
     swal({
       title: "Do you really want to block the User?",
       icon: "warning",
       buttons: {
         cancel: "Cancel",
         confirm: "OK"
        },
      }).then(function (confirmed) {
       
        console.log(event.target.getAttribute("href"),'kkjhjhk');
        if (confirmed) {
    
      window.location.href = "/admin/Block/"+id; 
    }
  });
}



function UnBlockUser(event,id) {
     event.preventDefault()
  
     swal({
       title: "Do you really want to Unblock the User?",
       icon: "warning",
       buttons: {
         cancel: "Cancel",
         confirm: "OK"
        },
      }).then(function (confirmed) {
       
        console.log(event.target.getAttribute("href"),'kkjhjhk');
        if (confirmed) {
    
      window.location.href = "/admin/UnBlock/"+id; 
    }
  });
}

</script>

<script>
  $(function () {
    $('#productsTable').DataTable();
  });
</script>