


{{#each productData}}
<div class="container tm-mt-big tm-mb-big bg-dark text-white">
  <div class="row">
    <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
      <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
        <div class="row">
          <div class="col-12">
            <h2 class="tm-block-title d-inline-block text-white">edit Product</h2>
          </div>
        </div>
        <div class="row tm-edit-product-row">
          <div class="col-xl-6 col-lg-6 col-md-12">
            <form action="/admin/editProduct/{{this._id}}" method="post" class="tm-edit-product-form bg-dark text-white p-3"
              enctype="multipart/form-data">
              <div class="form-group mb-3 ">
                <label for="name">Product Name
                </label>
                <input id="name" name="name" value="{{this.name}}" type="text" class="form-control validate" required />
              </div>
              <div class="form-group mb-3">
                <label for="description">Description</label>
                 <textarea class="form-control validate tm-small" rows="5" required
                  name="description">{{this.description}}</textarea>
              </div>
              {{/each}}
              <div class="form-group mb-3">
                <label for="category">Category</label>
                <select class="custom-select tm-select-accounts"  id="category" name="category">
           {{#if productData}}
           {{#each productData}}
                  <option selected>{{this.category}}</option>
{{/each}}
              {{else}}   
                  <option selected>Select category</option>
{{/if}}

                  {{#each category}}
                    <option value="{{this.category}}">
                      {{this.category}}
                    </option>
                  {{/each}}
                </select>
              </div>
              {{#each productData}}
              <div class="row">
                <div class="form-group mb-3 col-xs-12 col-sm-6">
                  <label for="stock">Units In Stock
                  </label>
                  <input id="stock" name="stock" value="{{this.stock}}" type="text" class="form-control validate" required />
                </div>
                <div class="form-group mb-3 col-xs-12 col-sm-6">
                  <label for="expire_date">Price
                  </label>
                  <input id="expire_date" value="{{this.price}}" name="price" type="text" class="form-control validate"
                    data-large-mode="true" />
                </div>
              </div>

      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">
        <div class="tm-product-img-dummy mx-auto">
          <i class="fas fa-cloud-upload-alt tm-upload-icon"></i>
        </div>
        <div class="custom-file mt-3 mb-3">
          <input id="fileInput" multiple type="file" style="display:none;" name="image" />
          <input type="button" class="btn btn-info d-block mx-auto" value="Upload ..."
            onclick="document.getElementById('fileInput').click();" required />

        </div>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-block text-uppercase btn-info">edit Product Now</button>
      </div>
      </form>
    </div>
  </div>
</div>
  </div>
</div>
{{/each}}