<style>
  .strikethrough {
    text-decoration: line-through;
    color: rgb(198, 37, 37);
  }
</style>


<div
  class="container d-flex flex-row justify-content-around align-items-center"
>
  <div class="row">
    <form
      class="contact_form d-flex align-items-center"
      action="/admin/searchProduct"
      method="post"
      novalidate="novalidate"
    >
      <input
        class="form-control mt-4"
        name="name"
        type="text"
        placeholder="search"
      />

      <button type="submit" class="btn btn-primary bg-warning rounded">
        search
      </button>

    </form>
  </div>
  <div class="row">

   
    </div>

  </div>
  <div class="row">
    <a onclick="addProduct(event)">
    
      <button
        type="button"
        class="btn btn-primary mt-3 bg-warning rounded"
        data-toggle="modal"
        data-target="#exampleModal"
      >
        add product
      </button>
    </a>
    <!-- </div> -->
  </div>

</div>

<!-- Button trigger modal -->




<div class="bg-white p-4 mt-3">

    <table
      id="myTable"
      class="table table-hover table-striped tm-table-striped-even mt-3" 
    >
      <thead>
        <tr>
          <th scope="col">PRODUCT NAME</th>
          <th scope="col">DESCRIPTION</th>
          <th scope="col">CATEGORY</th>
          <th scope="col">STOCK</th>
          <th scope="col">PRICE</th>
          <th scope="col">IMAGE</th>
          <th scope="col">LISTED</th>
          <th scope="col">ACTIONS</th>
        </tr>
      </thead>

      <tbody>
        {{#if productData}}
          {{#each productData}}
            {{#if listed}}
              <tr>
                <td>{{this.name}}</td>
                <td>{{this.description}}</td>
                <td>{{this.category}}</td>
                <td>{{this.stock}}</td>
                <td>{{this.price}}</td>
 <td>
                  <a  onclick="unlistProduct(event, '{{this._id}}')" >
                    {{#if listed}}
                  <i class="fas fa-toggle-on text-success"></i>
                  {{else}}
                 <a  onclick="listProduct(event, '{{this._id}}')">
                  <i class="fas fa-toggle-off text-danger"></i></a>
                  {{/if}}
                
                
                </td>
                <td class="text-success">{{this.listed}}</td>

                <td>.</td>
                <td>
                  <a onclick="confirmEdit(event, '{{this._id}}')"
                    {{!-- href="/admin/editProductPage/{{this._id}}" --}}
                    class="tm-product-delete-link"
                  >
                    <i class="fas fa-edit"></i>
                  </a>
                </td>
                <td class="bg-white">
  <a onclick="confirmDelete(event, '{{this._id}}')"
    class="tm-product-delete-link"
  >
    <i class="far fa-trash-alt tm-product-delete-icon"></i>
  </a>
</td>

              </tr>
            {{else}}
              <tr>
                <td class="strikethrough">{{this.name}}</td>
                <td class="strikethrough">{{this.description}}</td>
                <td class="strikethrough">{{this.category}}</td>
                <td class="text-danger"><span>
                    {{this.stock}}
                  </span></td>
                <td>{{this.price}}</td>
 <td>
                  <a  onclick="unlistProduct(event, '{{this._id}}')" >
                    {{#if listed}}
                  <i class="fas fa-toggle-on text-success"></i>
                  {{else}}
                 <a  onclick="listProduct(event, '{{this._id}}')">
                  <i class="fas fa-toggle-off text-danger"></i></a>
                  {{/if}}
                
                
                </td>
                <td class="text-danger"><span>
                    {{this.listed}}
                  </span></td>

                <td>.</td>
                <td>
                  <a onclick="confirmEdit(event, '{{this._id}}')"
                    href="/admin/editProductPage/{{this._id}}"
                    class="tm-product-delete-link"
                  >
                    <i class="fas fa-edit"></i>
                  </a>
                </td>
                <td class="bg-white">
                  <a
                    class="tm-product-delete-link"
                  >
                    <i class="far fa-trash-alt tm-product-delete-icon text-danger"></i>
                  </a>
                </td>

              </tr>
            {{/if}}
          {{/each}}
        {{/if}}
      </tbody>
    </table>
</div>



<script>
   function confirmDelete(event,id) {
     event.preventDefault()
  
     swal({
       title: "Do you really want to delete the product?",
       icon: "warning",
       buttons: {
         cancel: "Cancel",
         confirm: "OK"
        },
      }).then(function (confirmed) {
       
        console.log(event.target.getAttribute("href"),'kkjhjhk');
        if (confirmed) {
    
      window.location.href = "/admin/deleteProduct/"+id; 
    }
  });
}

function confirmEdit(event,id) {
     event.preventDefault()
  
     swal({
       title: "Do you really want to Edit the product?",
       icon: "warning",
       buttons: {
         cancel: "Cancel",
         confirm: "OK"
        },
      }).then(function (confirmed) {
       
        console.log(event.target.getAttribute("href"),'kkjhjhk');
        if (confirmed) {
    
      window.location.href = "/admin/editProductPage/"+id; 
    }
  });
}


function addProduct(event) {
     event.preventDefault()
  
     swal({
       title: "Do you really want to add the product?",
       icon: "warning",
       buttons: {
         cancel: "Cancel",
         confirm: "OK"
        },
      }).then(function (confirmed) {
       
        console.log(event.target.getAttribute("href"),'kkjhjhk');
        if (confirmed) {
    
      window.location.href = "/admin/getProdCategoryToAddProduct"; 
    }
  });
}
</script>
<script>
  $(function () { $('#myTable').DataTable(); });




function unlistProduct(event,id) {
     event.preventDefault()
  
     swal({
       title: "Do you really want to Unlist the Product?",
       icon: "warning",
       buttons: {
         cancel: "Cancel",
         confirm: "OK"
        },
      }).then(function (confirmed) {
       
        console.log(event.target.getAttribute("href"),'kkjhjhk');
        if (confirmed) {
    
      window.location.href = "/admin/unlistProduct/"+id; 
    }
  });
}



function listProduct(event,id) {
     event.preventDefault()
  
     swal({
       title: "Do you really want to list the Product?",
       icon: "warning",
       buttons: {
         cancel: "Cancel",
         confirm: "OK"
        },
      }).then(function (confirmed) {
       
        console.log(event.target.getAttribute("href"),'kkjhjhk');
        if (confirmed) {
    
      window.location.href = "/admin/listProduct/"+id; 
    }
  });
}

</script>