<div
  class="container d-flex flex-row justify-content-around align-items-center"
>
  <div class="row">
    <form
      class="contact_form d-flex align-items-center"
      action="/admin/searchProduct"
      method="post"
      novalidate="novalidate"
    >
      <input
        class="form-control mt-4"
        name="name"
        type="text"
        placeholder="search"
      />

      <button type="submit" class="btn btn-primary bg-warning rounded">
        search
      </button>

    </form>
  </div>
  <div class="row">

   
    </div>

  </div>
  <div class="row">
    <a href="/admin/getProdCategoryToAddProduct">
      <button
        type="button"
        class="btn btn-primary mt-3 bg-warning rounded"
        data-toggle="modal"
        data-target="#exampleModal"
      >
        add product
      </button>
    </a>
    <!-- </div> -->
  </div>

</div>

<!-- Button trigger modal -->

<link
  rel="stylesheet"
  href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css"
/>

<script
  src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"
></script>

<style>
  .table-striped { background-image: linear-gradient(45deg, rgba(255, 255, 255,
  0.2) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.2) 75%,
  rgba(255, 255, 255, 0.2)), linear-gradient(45deg, rgba(255, 255, 255, 0.2)
  25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.2) 75%, rgba(255,
  255, 255, 0.2)); background-size: 20px 20px; background-position: 0 0, 10px
  10px; }
</style>

<div class="row tm-content-row m-2">
  <div class="col-sm-12 col-md-12 col-lg-9 col-xl-9 tm-block-col text-white">
    {{! <!-- <div class="tm-bg-primary-dark tm-block tm-block-products"> -->
    <!-- <form action="/admin/searchProduct" method="post">
            <div class="mt-1 input-group">
              <div class="form-outline">
                <input type="search" name="name" id="form1" class="form-control" />
              </div>
              <button type="submit" class="btn btn-primary">Search</button>
              <a class="ml-5 btn btn-primary" href="/admin/product">Show All Products</a>
            </div>
            </form> -->
    <!-- <div class="tm-product-table-container"> --> }}
    <table
      id="myTable"
      class="table table-hover tm-table-small tm-product-table"
    >
      <thead>
        <tr>
          <th scope="col">PRODUCT NAME</th>
          <th scope="col">DESCRIPTION</th>
          <th scope="col">CATEGORY</th>
          <th scope="col">STOCK</th>
          <th scope="col">PRICE</th>
          <th scope="col">IMAGE</th>
          <th scope="col">LISTED</th>
          <th scope="col">ACTIONS</th>
        </tr>
      </thead>

      <tbody>
        {{#if productData}}
          {{#each productData}}
            {{#if listed}}
              <tr>
                <td>{{this.name}}</td>
                <td>{{this.description}}</td>
                <td>{{this.category}}</td>
                <td>{{this.stock}}</td>
                <td>{{this.price}}</td>
                <td>nothing</td>

                <td class="text-success">{{this.listed}}</td>

                <td>.</td>
                <td>
                  <a
                    href="/admin/editProductPage/{{this._id}}"
                    class="tm-product-delete-link"
                  >
                    <i class="fas fa-edit"></i>
                  </a>
                </td>
                <td>
                  <a
                    href="/admin/deleteProduct/{{this._id}}"
                    class="tm-product-delete-link"
                  >
                    <i class="far fa-trash-alt tm-product-delete-icon"></i>
                  </a>
                </td>

              </tr>
            {{else}}
              <tr>
                <td>{{this.name}}</td>
                <td>{{this.description}}</td>
                <td>{{this.category}}</td>
                <td class="text-danger"><span>
                    {{this.stock}}
                  </span></td>
                <td>{{this.price}}</td>
                <td>nothing</td>

                <td class="text-danger"><span>
                    {{this.listed}}
                  </span></td>

                <td>.</td>
                <td>
                  <a
                    href="/admin/editProductPage/{{this._id}}"
                    class="tm-product-delete-link"
                  >
                    <i class="fas fa-edit"></i>
                  </a>
                </td>
                <td>
                  <a
                    href="/admin/deleteProduct/{{this._id}}"
                    class="tm-product-delete-link"
                  >
                    <i class="far fa-trash-alt tm-product-delete-icon"></i>
                  </a>
                </td>

              </tr>
            {{/if}}
          {{/each}}
        {{/if}}
      </tbody>
    </table>
  </div>
</div>