      <!--================Cart Area =================-->
     
      <section class="cart_area section_padding">
        <div class="container">
          <div class="cart_inner">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope='col'>    </th>
                    <th scope="col">Total</th>
                  </tr>
                </thead>
                 {{#if userDetailes}}
      {{#each userDetailes}}
                <tbody>
                  <tr id="parent_{{this.product._id}}">
                    <td>
                      <div class="media">
                        <div class="d-flex">
                          <img src="{{this.product.images.[0]}}" alt="" />
                        </div>
                        <div class="media-body">
                          <h3>{{this.product.name}}</h3>
                          <p>{{this.product.category}}</p>
                          <p>{{this.product.descriptions}}</p>
                        </div>
                      </div>
                    </td>
                    <td>
                      <h5>₹ {{this.product.price}}</h5>
                    </td>
                    <td>
    <button class="cart-item-count mr-4 bg-dark" id="decrement_{{product.productId._id}}"
       onclick="changeQuantity('{{this.product._id}}', -1,'{{this.product.price}}')">&nbsp;-&nbsp;</button>
    {{!-- <span id="quantity_{{product.productId._id}}" name="quantity">{{product.quantity}}</span> --}}
    <button class="cart-item-count mr-4 bg-dark" id="increment_{{product.productId._id}}"
            onclick="changeQuantity('{{this.product._id}}', 1,'{{this.product.price}}')">&nbsp;+&nbsp;</button>
</td>

                    <td>
                         <div class="input-group mb-3">

                                <div class="mb-0">
                                    {{!-- <span class="btn bg-transparent mr-2 text-center mt-2" id="minus"
                                        onclick="changeQuantity('{{this.product._id}}', -1,'{{this.product.price}}')"
                                        style="color: rgb(0, 0, 0);border-color: rgb(192, 192, 192);">&nbsp;-&nbsp;</span> --}}
                                </div>
                                <input type="text" name="quantity"  id="{{this.product._id}}"
                                    class="quantity form-control input-number  mt-2" value=" {{this.quantity}}" min="1"
                                    max="{{this.product.stock}}" style="max-width: 50px;">
                                <div class="mb-0"> 
                                    {{!-- <span class="btn btn-dark bg-transparent ml-2 text-center mt-2"
                                        onclick="changeQuantity('{{this.product._id}}', 1,'{{this.product.price}}')"
                                        style="color: black;border-color: rgb(192, 192, 192);">&nbsp;+&nbsp;</span> --}}
                                </div>
                            </div>
                            <span id="{{this.product._id}}stocks" style="font-weight: bold;" class="text-danger">{{substract this.product.stock this.quantity}}</span>

								<span class="text-danger" style="font-weight: bold;" id="{{this.product._id}}inStock">Product in Stock</span>

                                <span class="text-danger" style="font-weight: bold; display: none;"  id="{{this.product._id}}outOfStock">Out of stock</span>
                    </td>
                    
    	<td  id="sub-{{this.product._id}}"	class="total">₹ {{multiply this.product.price this.quantity}}</td>
  <td>
{{!-- <div class="btn"  onclick="deleteProduct('{{this.product._id}}')">delete</div> --}}
    <button class="bg-dark" 
       onclick="deleteProduct('{{this.product._id}}')">delete</button>
  </td>
                  </tr>
         
    {{/each}}
             {{/if}}
                  <tr class="bottom_button">
                    <td>
                      <a class="btn_1" href="#">Update Cart</a>
                    </td>
                    <td></td>
                    <td></td>
                    <td>
                      <div class="cupon_text float-right">
                        <a class="btn_1" href="#">Close Coupon</a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td>
                      <h5>Subtotal</h5>
                    </td>
                    <td>
                      <h5 id="total">₹ {{total}}</h5>
                    </td>
                  </tr>
                 
                </tbody>
                
              </table>
              <div class="checkout_btn_inner float-right">
                <a class="btn_1" href="#">Continue Shopping</a>
                <a class="btn_1 checkout_btn_1" href="/checkOut">Proceed to checkout</a>
              </div>
            </div>
          </div>
      </section>
      <!--================End Cart Area =================-->

      <script>
         function changeQuantity(productId, count, productPrice) {
        let quantity = parseInt(document.getElementById(productId).value)
        let Count = parseInt(count)
        let price = parseFloat(productPrice);

        let stocks = document.getElementById(`${productId}stocks`);
        

       // console.log(stocks+"thendi")

		let stocksValue = parseInt(stocks.innerHTML);

        if(stocksValue-count>=0){
            $.ajax({
            url: '/change-product-quantity',
            data: {
                product: productId,
                count: Count,
                quantity: quantity
            },
            method: 'post',
            success: (response) => {
                if (response.removeProduct) {
                    alert("Product removed from cart")
                document.getElementById(`parent_${productId}`).remove()
                    
                } else {
                    document.getElementById(productId).value = quantity + count
                    document.getElementById('total').innerHTML =('₹ '+ response.total)
                    document.getElementById(`${productId}stocks`).innerHTML = stocksValue-(count);
                    //document.getElementById('total1').innerHTML = response.total + 10
                document.getElementById(`sub-${productId}`).innerHTML =('₹ '+  (price * (quantity+count)))

                    if(stocksValue - count === 0){
                        document.getElementById(`${productId}outOfStock`).style.display='inline'
                        document.getElementById(`${productId}stocks`).style.display='none'
                        document.getElementById(`${productId}inStock`).style.display='none'

                    }else{
                        document.getElementById(`${productId}outOfStock`).style.display='none'
                        document.getElementById(`${productId}stocks`).style.display='inline'
                        document.getElementById(`${productId}inStock`).style.display='inline'

                    }
                }
            } 
        })
        }
        
    }


  
    async function deleteProduct(productId){
      
		const res = await axios({
			method: 'GET', 
            url: `/deleteCart/${productId}`
		});
		try{
			if(res.data.status === "success"){
	
    alert("Product removed from cart")   

     document.getElementById(`parent_${productId}`).remove()
		;
			}else{
				Toastify({
					text: res.data.message,
					duration: 3000,
					gravity: "bottom",
					position: "center",
					style: {
						background: "linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%)",
					},
				}).showToast();
				location.assign('/login')
			}
		}catch(err){
			console.log(err);
		}
	}
     

      </script>



<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

      